# Virtual Environment
v/
venv/
env/
ENV/
.venv/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/
log/

# Streamlit specific
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# Database files
*.db
*.sqlite
*.sqlite3

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Cache files
.cache/
.pytest_cache/ 